$margin-left-leftside: -60px;
$margin-right-leftside: 0px;
$margin-right-rightside: 10px;
$margin-left-rightside: 0px;
%curveybutton {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
@function black($opacity) {
  @return rgba(black, $opacity);
}
mat-toolbar {
  height: 7%;
  background-color: white;
}
mat-sidenav-container {
  height: 93%;
  background-color: white;
  flex-wrap: wrap;
}

mat-sidenav {
  background-color: white;
  width: 20%;
}
.mat-sidenav-content {
  height: 100vh;
}
.menuicon {
  margin-right: $margin-right-leftside;
}
.toolbarimage {
  margin-left: $margin-left-leftside;
  margin-right: $margin-right-leftside;
}

.toolbartext {
  margin-left: $margin-left-leftside;
  margin-right: $margin-right-leftside;
}

.searchtextbox {
  background-color: whitesmoke;
  width: 40%;
  height: 1%;
}
.searchtextbox input matInput {
  background-color: whitesmoke;
}

.refreshbutton {
  margin-right: $margin-right-rightside;
}
.view_agenda {
  margin-right: $margin-right-rightside;
}
.settingicon {
  margin-right: $margin-right-rightside;
}
.appicon {
  padding: 10px;
}

.profileimage img {
  border-radius: 50%;
}

.mat {
  background-color: blue;
  height: 10%;
  width: 30%;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

.sidenav {
  margin-block: 30px;
  a {
    text-decoration: none;
  }
  button {
    @extend %curveybutton;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    img {
      float: left;
    }
  }
  .labelborder {
    border-top: 6px solid #bfc9ca;
    border-bottom: 6px solid #bfc9ca;
    border-bottom-width: thin;
    border-top-width: thin;
  }
}
.sidenavbar {
  button {
    @extend %curveybutton;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 50%;
  img {
    margin: 5% 0 0 10%;
    border-radius: 50%;
  }
  button {
    padding: 5px 8px 10px 8px;
    margin: 0 0 0 10%;
    position: absolute;
    top: 8.8%;
    left: 69.4%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: black(0.5);
  }
}

.column2 {
  float: left;
  width: 50%;
}
.profilematmenu {
  overflow-x: hidden;
}

input button {
  color: aqua;
}
.profilematmenu {
  overflow: hidden;
}
