<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon
    class="menuicon"
    aria-hidden="false"
    aria-label="Example home icon"
    (click)="opened = !opened"
    >menu
  </mat-icon>
  <div class="toolbarimage">
    <img src="../../../assets/image/download.png" height="42" width="42" />
  </div>
  <div class="toolbartext">
    <h1>Notes</h1>
  </div>

  <mat-form-field class="searchtextbox" floatLabel="never">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput width="50px" backgroundcolor="white" placeholder="Search" />
    <mat-icon matSuffix>close</mat-icon>
  </mat-form-field>

  <mat-icon class="refreshbutton" matSuffix>refresh</mat-icon>
  <mat-icon class="view_agenda" matSuffix>view_agenda</mat-icon>
  <mat-icon class="settingicon" matSuffix>settings_applications</mat-icon>
  <mat-icon class="appicon" matSuffix>apps</mat-icon>
  <div class="profileimage" [matMenuTriggerFor]="menu">
    <img
      src="https://fundoo-image.s3.ap-south-1.amazonaws.com/{{ image }}"
      height="40"
      width="40"
    />
  </div>
  <mat-menu #menu="matMenu" xPosition="before" yPosition="below" class="mat">
    <div class="profile menu">
      <span>
        <div class="profile picture" height="100%" width="50%">
          <img
            src="https://fundoo-image.s3.ap-south-1.amazonaws.com/{{ image }}"
          />
        </div>
        <div>
          <button (click)="logout()" mat-button>logout</button>
        </div>
      </span>
    </div>
  </mat-menu>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <div class="sidenavnotes">
      <mat-icon>add_alert</mat-icon>
      <button mat-button (click)="notes()">Notes</button>

      <div>
        <mat-icon>add_alert</mat-icon>
        <button mat-button (click)="reminder()">Reminders</button>
      </div>
      <app-label (labelname)="labelss = $event" (click)="mylabel()"></app-label>
      <button mat-button (click)="editLabel()">Edit Label</button>
      <div>
        <button mat-button (click)="trash()">Trash</button>
      </div>
      <div>
        <button mat-button (click)="archieve()">Archieve</button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-expansionbox></app-expansionbox>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div>
      <app-label></app-label>
    </div> -->
