$margin-left-leftside: -60px;
$margin-right-leftside: 0px;
$margin-right-rightside: 10px;
$margin-left-rightside: 0px;
%curveybutton {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
mat-toolbar {
  height: 7%;
  background-color: white;
}
mat-sidenav-container {
  height: 93%;
  background-color: white;
}

mat-sidenav {
  background-color: white;
  width: 20%;
}
.mat-sidenav-content {
  height: 100vh;
}
.menuicon {
  margin-right: $margin-right-leftside;
}
.toolbarimage {
  margin-left: $margin-left-leftside;
  margin-right: $margin-right-leftside;
}

.toolbartext {
  margin-left: $margin-left-leftside;
  margin-right: $margin-right-leftside;
}

.searchtextbox {
  background-color: whitesmoke;
  width: 40%;
  height: 1%;
}
.searchtextbox input matInput {
  background-color: whitesmoke;
}

.refreshbutton {
  margin-right: $margin-right-rightside;
}
.view_agenda {
  margin-right: $margin-right-rightside;
}
.settingicon {
  margin-right: $margin-right-rightside;
}
.appicon {
  padding: 10px;
}

.profileimage img {
  border-radius: 50%;
}

.mat {
  background-color: blue;
  height: 10%;
  width: 30%;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

.sidenavnotes {
  a {
    text-decoration: none;
  }
  button {
    @extend %curveybutton;
  }
}
.sidenavbar {
  button {
    @extend %curveybutton;
  }
}
