%notecolorproperty {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  @extend %notecolorproperty;
  background-color: #ffffff;
}
.dot2 {
  @extend %notecolorproperty;
}
.dot3 {
  @extend %notecolorproperty;
  background-color: #ff9933;
}

.dot4 {
  @extend %notecolorproperty;
  background-color: #ffff66;
}

.dot5 {
  @extend %notecolorproperty;
  background-color: #b2ff66;
}
.dot6 {
  @extend %notecolorproperty;
  background-color: #99ffcc;
}
.dot7 {
  @extend %notecolorproperty;
  background-color: #ccffff;
}
.dot8 {
  @extend %notecolorproperty;
  background-color: #9999ff;
}
.dot9 {
  @extend %notecolorproperty;
  background-color: #cc99ff;
}
.dot10 {
  @extend %notecolorproperty;
  background-color: #ebc1dd;
}
.dot11 {
  @extend %notecolorproperty;
  background-color: #e2c893;
}
.dot12 {
  @extend %notecolorproperty;
  background-color: #f0eff0;
}

.mat-card {
  width: 15%;
  border-radius: 5%;
}
.mat-card .mat-card-header {
  padding: 2%;
}
.mat-card .mat-card-content {
  padding: 5%;
}
.expansionpanel mat-expansion-panel {
  margin-right: 25%;
  margin-left: 20%;
  padding: 10px;
}
mat-expansion-panel {
  margin-left: 22%;
  margin-right: 23%;
}
.clickselect {
  margin-left: 20%;

  min-width: 60%;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.onExpansion {
  margin-left: 20%;

  min-width: 60%;
}
