<div>
  <p>
    Labels
  </p>
  <div>
    <!-- <svg-icon (mouseover) 
      src="../assets/image/label-24px.svg"
      [svgStyle]="{ 'width.px': 90 }"
     
    ></svg-icon> -->

    <mat-form-field appearence="leagacy" floatLabel="never">
      <mat-label>Create new label</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <br />
  <div *ngFor="let label of labels">
    <mat-form-field appearence="leagacy" floatLabel="never">
      <input matInput value="{{ label }}" />
    </mat-form-field>
  </div>
</div>
